.sidebarContainer {
  width: 250px;
  height: 100vh;
  background-color: var(--color-primary-dark);
  color: var(--color-text-light);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.logoWrapper {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logoImg {
  max-width: 150px;
}

.menuList {
  list-style: none;
  padding: 20px 0;
  margin: 0;
  flex-grow: 1;

  & ul li{
    list-style: none;
    text-decoration: none;
  }
}

.menuLink {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  color: var(--color-text-secondary);
  font-size: 16px;
  transition: all 0.3s ease;
  border-left: 4px solid transparent;
}

.menuLink svg {
  margin-right: 16px;
  font-size: 20px;
}

.menuLink:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: var(--color-text-light);
}

.menuLink.active {
  background-color: rgba(247, 167, 40, 0.1);
  border-left: 4px solid var(--color-accent);
  color: var(--color-text-light);
  font-weight: 600;
}